

.pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    /* background-color: red; */
}

.pagination-container span{
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}

.pagination-container .pagination-buttons{
    display: flex;
    gap: 0;
}

.pagination-container .pagination-buttons button{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 12px;
    margin: 0 2px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

.pagination-container .pagination-buttons button.active{
    background-color: #1dbf73;
    color: white;
    border-color: #1dbf73;
}

.pagination-container .pagination-buttons button:hover{
    border: #1dbf73;
    background-color: #1dbf73;
    color: #fff;
}


