
.search-bar{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.search-bar input{
    width: 100%;
    height: 50px;
    max-width: 600px;
    padding: 10px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    background-color: #f9f9f9;
}

.search-bar input:focus{
    outline: none;
    border-color: #1dbf73;
    box-shadow: 0 0 5px #1dbf73;
    background-color: #fff;
}

.search-bar input::placeholder{
    color: #999;
}

.search-bar button{
    width: 70px;
    margin-left: 0;
    border-radius: 0 5px 5px 0; 
    border: none;
    background-color: #1dbf73;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 22px;
}

.search-bar button:hover{
    background-color: #17a45e;
}



@media (max-width: 600px) {
    .search-bar{
        padding: 10px;
    }

    .search-bar input{
        padding: 8px;
    }
}

