
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    height: 80px;
}

nav h1{
    color: #fff;
    font-size: 27px;
}

nav h1 a{
    text-decoration: none;
    color: #fff;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

nav ul li{
    list-style: none;
    font-size: 17px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover{
    color: #17a45e;
    cursor: pointer;
}

nav .menu-switch{
    display: none;
    font-size: 22px;
    color: #fff;
}

nav form button{
    border: none;
    padding: 7px;
    width: 100px;
    border-radius: 7px;
    transition: hover 0.3s ease;
}

nav form button:focus{
    outline: none;
}

/* nav form button{
    padding: 7px;
    width: 80px;
    border: none;
    border-radius: 0 7px 7px 0;
    transition: all 0.7s ease;
} */

nav form button:hover{
    cursor: pointer;
}


@media (max-width: 768px){
    nav ul{
        display: none;
    }

    nav ul.active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 1rem 0;
    }

    nav .menu-switch{
        display: block;
        cursor: pointer;
    }

}


