

.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.8rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}




@media (max-width: 768px) {
    .card-grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 1rem;
    }
}


/* skeleton style  */


    .skeleton-card {
    width: 200px;
    height: 300px;
    border-radius: 12px;
    background: linear-gradient(
        90deg,
        #2a2a2a 0%,
        #3c3c3c 50%,
        #2a2a2a 100%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    }

    @keyframes shimmer {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: -200% 0;
    }
    }


