
footer{
    background: #333;
    display: block;
    text-align: center;
    padding: 20px;
    color: #fff;
}

footer .footer-link{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer-link ul{
    list-style: none;
}

.footer-link ul li{
    font-size: 17px;
}

.page-footer .owner{
    margin-top: 20px;
    font-size: 14px;
    color: #1dbf73;
}

@media (max-width: 768px) {
    footer .footer-link{
        flex-direction: column;
        gap: 25px;
    }
}

